body {
	display: flex;
	flex-direction: column;
	background-color: blue;
}

main {

	display: flex;
	flex-direction: row;
	flex: auto;
}

article {
	flex: 2;
	overflow-y: auto;
}

aside {
	flex: 1;
	overflow-y: auto;
}
a {
	color: red;
}


table {
	border: 2px solid black;
	border-collapse: collapse;
}
tr {
	border: 1px solid black;
	border-collapse: collapse;
}
td, th {
	border: 1px solid black;
	border-collapse: collapse;
}
